*{
    color:white;
    
}
body,header{
    background-color: #a39475;
    
    background-color: #1e1f1e;
}
body{
    margin:0;    
}

header form{
    
    display:flex;
    align-items: center;  
    
    
}
header form div{
    display:flex;
        
}
header input{
    border-radius:5px;
    height:2em;
    border:0;
    font-size:larger;
    color:black;
    width:500px;
}
header button{
    border:none;
    width:50px;
    background:0;   
}
header button i{    
}
.fa{
    font-size:initial
}
header button:hover i{
    color:#46596e ;
}
header{
    
    
    position:sticky;
    top:0;
    z-index:1;   
}
header nav{
    
    /*! height:50px; */
    display: flex;
    max-width:1200px;
    margin:0 auto;
    
}

