video, h1{
  display:block;
  max-width:1200px;
  margin:20px auto;
}
#vid div{
  width:200px;
  margin:0 auto;
  display:grid;
  grid-template-columns:repeat(2,1fr); 
  text-align: center;
  grid-gap:100px;

}

#vid i{
  font-size:4em;
  
}
@media screen and (max-width:1200px){
  video{
    width:1000px;
  }
} 
@media screen and (max-width:1000px){
  video{
    width:800px;
  }
}
@media screen and (max-width:500px){
  video{
    width:400px;
  }
}