body{
    font-family: 'Montserrat', sans-serif;
}
main{
    border:3px solid black;
    margin: 20px auto ;
    /*min-width: 1024px;*/
}
main>div{
    
    background-color:#282928;
    /*border: 2px dotted white;*/
    border:6px #1e1f1e dotted;
    margin: 20px 10px;
    box-shadow: 0 10px 10px black;
}
#titre{
    
    width:400px;
    margin:10px auto 0;
    display:flex;
    align-items:center;
    flex-direction: row;
}
#fav{
    line-height: 2.5;
    width:70px;
    text-align: center;
    
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: /*#d9b75b*/#f2c57e;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    /* src du button : "https://developer.mozilla.org/fr/docs/Web/HTML/Element/Button" */
    
    margin:0 auto ;
    
}
#fav:hover{
    background-color:/* #f2c57e*/ #ffdda8;
}
#titre h2{
    
    
    
    
}
img{
    height:450px;
    width: 400px;
    display:block;/*par rapport au span fav */
    margin:0 auto;
    box-shadow: 0 5px 10px black;
    
}


dl{
    font-size:1.5em;
    width:600px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    /*border:whitesmoke 5px dotted;*/
    margin:0 auto;
    
    
     
}
dt{
    text-align:center;
    
    
    
}
dd{
    margin-left:0;
    text-align: center;
   
    
}

li{
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    list-style: none;
    border: 0;
    line-height: 3;
    margin:2px auto;
    font-size: 1rem;
    
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(230, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    
    /* src du button : "https://developer.mozilla.org/fr/docs/Web/HTML/Element/Button" */
    width:200px;
}
li:active, #fav:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}
li:hover{
    background-color: rgba(255, 0, 0, 1);
    
}
li a{
    display:block;
    color: #fff;
    
   
   
    
}
a{
    text-decoration:none;
    
    
}

p{
    max-width: 1200px;
    /*min-width:800px;*/
    font-family: 'Montserrat', sans-serif;
    font-size:1.6em;
    font-style: italic;
    margin:0 auto;
}
#desc, #ep,#co{
    max-width:1400px;
    margin:20px auto;
    
}
#co{
    min-height:150px;
    height:200px;
}
#co form{
    
    
    
}
#co label{
    
    
    
}
#co textarea{
    width:99%;
    height:100%;
    
    
}
#co div:first-child{
    display:flex;
    flex-direction:column;
    
    height:120px;  
}
#co button{
    display:block;
    margin:0 auto;
    font-size:x-large;
    border-radius:1em;
    padding:10px;
    border:none;
    background-color:#62665f;
}
#co button:hover{
    background-color:#c7c7c7;
    

}

@media screen and (max-width:1048px){
    main div{
        width:800px;
    }
    p{
        width:500px;
    }
}
@media screen and (max-width:832px){
    main div{
        width:700px;
    }
    
}
@media screen and (max-width:733px){
    main div{
        width:600px;
    }
}
@media screen and (max-width:633px){
    main div, dl{
        width:500px;
    }
    dl{

        font-size:1.3em;
    }
    
}
@media screen and (max-width:533px){
    main div, dl, p{
        width:400px;
    }
    p{
        font-size:1.3em;
       
    }
    li{
        display:block;
    }
}
@media screen and (max-width:420px){
    main div, dl, p{
        width:290px;


    }
    img, #titre{
        width:290px;

       
    }
    p,dl{
        font-size:1.2em;
       
    }

    
}


@media screen and (max-width:420px){
    main div, dl, p{
        width:290px;


    }
    img, #titre{
        width:290px;

       
    }
    p,dl{
        font-size:1.2em;
       
    }
    ol{padding:0;}
  
}
@media screen and (max-width:320px){
    main div, dl, p{
        width:190px;


    }
    #titre{
        width:190px;
        font-size:0.5em;

       
    }
    img{
        height:200px;
        width:150px;
    }
    p,dl{
        font-size:0.8em;
       
    }
    #fav{
        width:40px;
    }
    li{
        width:130px;

    }
    #co button{
        font-size:1.2em;
    }
    

}
